
* h1 h2 h3 h4 {
    margin: 0;
}
body {
    background: linear-gradient( 45deg, rgb(173 83 130) 0%, rgb(176 128 128) 50%, rgb(255, 204, 112) 100% );
}
.music__wrapper {
    max-width: 450px;
    margin: 0 auto;
    position: relative;

}
.music__play {
    border-bottom:1px solid #ebebeb;
    position: fixed;
    width: 100%;
    max-width: 451px;
    top:0;
    border-radius: 10px;
    overflow: hidden;
}
.music__header {
    text-align: center;
    width: 95%;
    margin-bottom: 20px;
}
.music__header-now {
    background: linear-gradient(45deg, #21f339 14%, #90ff07 48%, #ff0707);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
.music__header-name {
    background: linear-gradient(45deg, #21f329 14%, #ffe507 48%, #fff107);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
}
.music__cd {
    width: 95%; 
    opacity: 1;
}
.music__cd-img {
    background-image: url(./assets/images/img1.jpg);
    background-position: center;
    border-radius: 50%;
    background-size: cover;
    width: 200px;
    margin: 0 auto;
    height: 200px;
}
.music__controll {
    margin: 20px 0;
    display: flex;
    width: 95%;
    justify-content: space-around;
    align-items: center;
}
.music__controll .btn {
    padding: 18px;
    font-size: 20px;
    color: #fff;
}
.music__controll .btn-play {
    height: 50px;
    width: 50px;
    font-size: 28px;
    background-color:  rgb(255, 204, 112) ;
    color: white;
    border-radius: 50%;
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
}
.btn-play .bi-pause-fill {
    display: none;
}
.progress {
    width: 95%;
    -webkit-appearance: none;
    height: 7px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
    overflow: hidden;
}
.progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 6px;
    background-color: #ffb307;
    cursor: pointer;
    box-shadow: -400px 0 0 400px #ffb307;
  }
  .progress-time {
    min-width: 30px;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .time-start {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
  }
  .time-end {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
  }
.music__playlist {
    margin-top: 435px;
    padding: 12px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}
.music__song {
    display: flex;
    flex-direction: row;
    padding: 8px 16px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    align-items: center;
    margin-bottom: 12px;
}
.music__song-img {
    background-image: url(./assets/images/img1.jpg);
    background-position: center;
    border-radius: 50%;
    background-size: cover;
    width: 50px;
    height: 50px;
    margin: 0 8px;
}
.music__song-content {
    flex: 1;
    padding: 7px 16px;
}
.music__song-option {
    padding: 16px 8px;
    color: #999;
    font-size: 18px;
}
.music__song-name {
    margin: 0;
    padding-bottom: 5px ;
}
.music__song-author {
    margin: 0;
    color: #999;
}
.music__song.active {
    background: linear-gradient(45deg, #f369217d 14%, #99ff074d 48%, #ffb30780)
}

.music__song.active .music__song-name {
    color: #fff;
}
.music__song.active .music__song-author {
    color: #fff;
}
.music__song.active .music__song-option {
    color: #fff;
}
.btn-play.playing .bi-pause-fill {
    display: block;
}
.btn-play.playing .bi-play-fill {
    display: none;
}
.btn.active {
    color: rgb(255 171 112);
}
.music__background {
    position: absolute;
    width: 97%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    object-position: top left;
    z-index: -2;
}
.box {
    width: 100%;
    height: 100%;
    position: relative;
    top:0;
    left: 0;
    padding: 20px 10px;
}
.music__volumn {
    position: relative;
    padding-left: 25px;
    margin-bottom: 5px;
}
.music__volumn i{
    background: linear-gradient(45deg, #21f329 14%, #f3ed21e0 48%, #ffc307);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 22px;
    position: absolute;
    left:0;
    top:0;
    display: none;
}
.volum0 {
    left: -0.1px !important;
}
.volum1 {
    left: -5.7px !important;
}
.volum2 {
    left: -2.7px !important;
}
.volum3 {
    left: 0px !important;
}
.volumn {
    width: 29%;
    -webkit-appearance: none;
    height: 7px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
    overflow: hidden;
}
.volumn::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 6px;
    background-color: rgb(255 171 112);
    cursor: pointer;
    box-shadow: -400px 0 0 400px rgb(255 171 112);
  }
.music__volumn i.active {
    display: block;
}
@media (max-width: 460px) {
    .music__play {
        max-width: 420px;
    }
    .music__cd-img {
        width: 120px;
        height: 120px;
    }

}
@media (max-width: 420px) {
    .music__play {
        max-width: 400px;
    }
    .music__cd-img {
        width: 120px;
        height: 120px;
    }

}
@media (max-width: 400px) {
    .music__play {
        max-width: 375px;
    }
    .music__cd-img {
        width: 120px;
        height: 120px;
    }

}
@media (max-width: 380px) {
    .music__play {
        max-width: 350px;
    }
    .music__cd-img {
        width: 120px;
        height: 120px;
    }

}
